
.grid{
	"margin:0 auto; 
	 width:100%;
	 border-spacing:10px";
	 background-color: black;
}


.grid tr{ 
	background: transparent !important; 
	border: 0 !important; 
	}

.grid td{ 
	background: transparent !important;
	border: 0 !important;  
	}